application/application
application/.cache

application/Backend/__pycache__
application/Backend/Controller/__pycache__
application/Backend/Model/__pycache__
application/Backend/Service/__pycache__
application/Backend/Exception/__pycache__

application/Frontend/__pycache__
application/Frontend/Ressources/__pycache__
application/Frontend/Service/__pycache__
application/Frontend/Exception/__pycache__

application/database.db